<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/vue@3"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="contenedor">
        <div>
            <h1>User List</h1>
            <button style="width: 150px; font-weight: bold;" @click="logout">Logout</button>
            <p></p>
            <button style="width: 150px; font-weight: bold;" disabled>Add new user</button>
            <div v-if="(display=='mostrar')">
                <table style="border: 1px solid black">
                    <thead> 
                        <tr>
                            <th style="border: 1px solid black">ID</th>
                            <th style="border: 1px solid black">Name</th>
                            <th style="border: 1px solid black">Username</th>
                            <th style="border: 1px solid black">Email</th>
                            <th style="border: 1px solid black">City</th>
                            <th style="border: 1px solid black">ZipCode</th>
                            <th style="border: 1px solid black">Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="user in users">
                            <th style="border: 1px solid black">{{ user.id }}</th>
                            <td style="border: 1px solid black">{{ user.name }}</td>
                            <td style="border: 1px solid black">{{ user.username }}</td>
                            <td style="border: 1px solid black">{{ user.email }}</td>
                            <td style="border: 1px solid black">{{ user.address.city }}</td>
                            <td style="border: 1px solid black" >{{ user.address.zipcode }}</td>
                            <td style="border: 1px solid black">{{ user.phone }}</td>
                            <td>
                                <button style="width: 70px; font-weight: bold;" @click="action('editar', user, indice)">Editar</button>
                                <button style="width: 70px; font-weight: bold;" @click="remove(indice)">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form action="">
                <p>New User:</p>
                <div>
                    <label style="border: 1px solid black" for="">Name: </label>
                    <input style="width: 300px;" type="text" v-model="name" name="">
                </div>
                <div>
                    <label style="border: 1px solid black" for="">Username: </label>
                    <input style="width: 300px;" type="text" v-model="username" name="">
                </div>
                <div>
                    <label style="border: 1px solid black" for="">Email: </label>
                    <input style="width: 300px;" type="text" v-model="email" name="">
                </div>
                <div>
                    <label style="border: 1px solid black" for="">City: </label>
                    <input style="width: 300px;" type="text" v-model="city" name="">
                </div>
                <div>
                    <label style="border: 1px solid black" for="">ZipCode: </label>
                    <input style="width: 300px;" type="text" v-model="zipcode" name="">
                </div>
                <div>
                    <label style="border: 1px solid black" for="">Phone: </label>
                    <input style="width: 300px;" type="text" v-model="phone" name="">
                </div>
            </form>
            <button style="width: 150px; font-weight: bold;" @click="save()">Guardar</button>
            <button style="width: 150px; font-weight: bold;" @click="cancel()">Cancelar</button>
        </div>
    </div> 
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        const { createApp } = Vue; 
        const app = createApp({ 
            data() {
                return {
                    users: null,
                    usuario: JSON.parse(sessionStorage.getItem("usuario")),
                    display: 'mostrar',
                    id: 0,
                    name: '',
                    username: '',
                    email: '',
                    city: '',
                    zipcode: '',
                    phone: '',
                    evento: '',
                    indice: 0,
                    activo: false
                }
            },
            watch:{
                usuario(newUsuario, oldUsuario){
                    if(newUsuario !== oldUsuario){
                        location.href = "ActividadU3-A4.html";
                    }
                }
            },
            methods: {
                logout() {
                    sessionStorage.removeItem("usuario");
                    this.usuario = null;
                },
                
                cancel() {
                    this.display = 'mostrar';
                    this.activo = false;
                },
                action(accion, user, indice) {
                    if(accion=='agregar'){
                        this.evento = 'agregar';
                        this.mostrar = accion;
                    }
                    if(accion=='editar') {
                        this.evento = 'editar';
                        this.indice = indice;
                        this.id = user.id;
                        this.name = user.name;
                        this.username = user.username;
                        this.email = user.email;
                        this.city = user.address.city;
                        this.phone = user.phone;
                        this.activo = true;
                    }
                },
                save() {
                    var validated = false;
                    if(this.evento=='add') {
                        if(this.name===''||this.username===''||this.email===''||this.city===''||this.phone==='') {
                            swal("No puede haber datos incompletos", "", "info");
                        }else{
                            this.users.push({id: this.users[this.users.length].id, name: this.name, username: this.username, email: this.email, address:{city: this.city}, phone: this.phone});
                            swal("El usuario ha sido agregado", "Presiona el boton para finalizar", "success");
                            finalizado = true;
                        }
                    }else if(this.evento=='editar') {
                        this.users[this.indice].id = this.id;
                        this.users[this.indice].name = this.name;
                        this.users[this.indice].username = this.username;
                        this.users[this.indice].email = this.email;
                        this.users[this.indice].address.city = this.city;
                        this.users[this.indice].phone = this.phone;
                        swal("El usuario se ha editado exitosamente", "Presiona el boton para finalizar", "success");
                        validated = true;
                        this.activo = false;
                    }
                    if(validated){
                        this.name = '';
                        this.username = '';
                        this.email = '';
                        this.city = '';
                        this.phone = '';
                        this.display = 'mostrar';
                        validated = false;
                    }
                },
                remove(indice) {
                    swal({
                        title: "AVISO! Este usuario sera eliminado!",
                        text: "Al eliminarse no se podra recuperar los datos guardados",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    }).then((willDelete) => {
                        if (willDelete) {
                            this.users.splice(indice,1);
                            swal("El usuario ha sido eliminado", {
                            icon: "success",
                            });
                        } else {
                            swal("Ninguna accion se ha realizado");
                        }
                    });
                }
            },
            mounted(){
                fetch('users.json')
                    .then((res) => res.json())
                    .then((json) => (this.users = json ))
                    .catch((err) => (console.log(err) ));

                if(!this.usuario){
                    location.href= "ActividadU3-A4.html";
                }
            }
        }).mount('#contenedor');
    </script>
</body>
</html>