<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/vue@3"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="contenedor">
        
        <h1>{{name}}</h1>
        <h2>{{lastname}}</h2>
        <input type="text" v-model="name" name="">
        <button @click="hola">alert your name!</button>
        <h2>Sumatoria:</h2>
        <input type="text" v-model="number1" name="">
        <input type="text" v-model="number2" name="">
        <button @click="suma">prueba de suma!</button>
        <h2>Resultado: {{result}}</h2>

    </div>
    <script type="text/javascript">
        const { createApp } = Vue;

        createApp({
            data(){
                return{
                    name: 'Dave',
                    lastname: 'Buenrostro',
                    number1: 10,
                    number2: 5,
                    result: 0
                }
            },
            methods:{
                hola(){
                    alert('hola, ' + this.name)
                },
                suma(){
                    this.result = parseInt(this.number1) + parseInt(this.number2)
                }
            }
        }).mount('#contenedor')
    </script>
</body>
</html>