<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/vue@3"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="contenedor">
        
        <h1>{{name}}</h1>
        <h2>{{lastname}}</h2>
        <input type="text" v-model="name" name="">
        <button @click="hola">alert your name!</button>
        <hr>
        <h1>Sumatoria:</h2>
        <input type="text" v-model="number1" name="">
        <input type="text" v-model="number2" name="">
        <button @click="suma">prueba de suma!</button>
        <h2>Resultado: {{result}}</h1>
        <h2 v-if="result <= 9">El resultado tiene un digito</h2>
        <h2 v-else-if="result <= 99">El resultado tienes dos digitos</h2>
        <h2 v-else>El resultado tiene mas de 2 digitos</h2>
        <hr>
        <h1>Verificar si entra al bar</h1>
        <input type="text" v-model="age" name="">
        <h2 v-if="age >= 18 && age <= 39">Pase</h1>
        <h2 v-else-if="age>=40">Pase viejon</h1>
        <h2 v-else>No pase</h1>
        <hr>
        <ol>
            <li v-for="item in items">
                {{item.name}} : <span> {{item.role}} </span>
            </li>
        </ol>
        <h2>Registrar persona</h2>
        <input type="text" v-model="items_name" name="">
        <input type="text" v-model="items_role" name="">
        <button @click="save">registrar</button>
    </div>
    <script type="text/javascript">
        const { createApp } = Vue;

        createApp({
            data(){
                return{
                    name: 'Dave',
                    lastname: 'Buenrostro',
                    number1: 0,
                    number2: 0,
                    result: 0,
                    age: 0,
                    items: [{name: 'Iran', role: 'Front'}, 
                            {name: 'Duarte', role: 'Back'}, 
                            {name: 'Buenrostro', role: 'Movil'}],
                    items_name: '',
                    items_role: ''
                        
                }
            },
            methods:{
                hola(){
                    alert('hola, ' + this.name)
                },
                suma(){
                    this.result = parseInt(this.number1) + parseInt(this.number2)
                },
                save(){
                    this.items.push({name: this.items_name, role: this.items_role})
                }
            }
        }).mount('#contenedor')
    </script>
</body>
</html>